.auth-container{
    min-height: 90vh;
}
.card {
    border: none;
    border-radius: 10px;
}

.card-title {
    font-size: 1.75rem;
    font-weight: bold;
}

/* Form Styles */
.form-control {
    border-radius: 5px;
    padding: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Link Styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}